@page
@model RecruitCatSapravl.Pages.OurTeamModel
@{
    ViewData["Title"] = "Our Team";
}
<h1 class="text-center" style="padding:4px 16px 25px 16px"><u>@ViewData["Title"]</u></h1>

<div class="card mb-3" style="max-width: 700px; max-height: 270px">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="~/css/Images/Photo.jpg" class="card-img" alt="Vipul Sapra" style="max-height: 270px; max-width: 200px">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Vipul Sapra</h5>
                <p class="card-text">Vipul Sapra is the CEO of Master Recruiters. Vipul started the Company in 2011. He is an expert 
                in Information Technology Recruitment. His leadership and hardwork in refining the firm’s target market and service offerings 
                to help it become the award-winning Recruitment firm that it is today.</p>
                <p class="card-text"><small class="text-muted">Founder, CEO</small></p>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3" style="max-width: 700px;max-height: 270px">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="~/css/Images/Jhonny.jpg" class="card-img" alt="Jhonny Gutentag" style="max-height: 270px; max-width: 200px">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Jhonny Gutentag</h5>
                <p class="card-text">Jhonny Joined the company in 2012 as VP of Recruitment Tasks. He has since made leeps and bounds in terms of 
                making quality recruitments happen. He was promoted to Head of Recruitment in 2015. Eversince he has been involved in more than 20,000 
                recruitments across all industries</p>
                <p class="card-text"><small class="text-muted">Recruitment Head</small></p>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3" style="max-width: 700px;max-height: 270px">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="~/css/Images/Pete.jpg" class="card-img" alt="Peter Andrews" style="max-height: 270px; max-width: 200px">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Peter Andrews</h5>
                <p class="card-text">Peter Andrews joined the company in 2012 as Public Relations head. He has handled multiple clients like Urvashi Finance House,
                IT Kings, Great Manufacturing and many more. He is a veteran in the recruitment business and has always pushed the company forward with his 
                experience and expertise.</p>
                <p class="card-text"><small class="text-muted">Public Relations Head</small></p>
            </div>
        </div>
    </div>
</div>